<ul>
  @for (item of data; track item; ) {
    <li class="flex flex-col gap-4 p-4 odd:bg-gray-100">
      <header>
        <h3 class="mb-2 font-normal text-gray-700">{{ item.name }}</h3>

        <div class="text-xs">
          <app-time-span [from]="item.from" [to]="item.to"></app-time-span>
          (<span>&#64;</span> {{ item.companyName }})
        </div>
      </header>

      <p>
        Rola: {{ item.role }}
      </p>

      <p>
        {{ item.description }}
      </p>

      <div>
        <h4 class="font-normal mb-2">Zakres obowiązków:</h4>

        <ul>
          @for (resposibility of item.responsibilities; track resposibility) {
            <li>{{ resposibility }}</li>
          }
        </ul>
      </div>

      @if (item.usedSkills) {
        <div>
          <h4 class="font-normal mb-4">Narzędzia i technologie:</h4>

          <app-skills-chips-list [data]="item.usedSkills"></app-skills-chips-list>
        </div>
      }
    </li>
  }
</ul>
