<ul class="lg:grid lg:grid-cols-2 lg:gap-4 xl:grid-cols-3 xl:gap-0">
  @for (item of data; track item) {
    <li class="flex flex-col gap-4 p-4 odd:bg-gray-100 dark:odd:bg-gray-700">
      <header>
        <div class="mb-2 flex flex-row justify-between items-start gap-4">
          <div>
            <h3 class="mb-2 font-normal text-gray-700 dark:text-gray-300">
              {{ item.name }}
            </h3>
          </div>

          <div class="flex flex-col text-xs whitespace-nowrap text-end">
            <app-time-span [from]="item.from" [to]="item.to"></app-time-span>
            <div>(<span>&#64;</span> {{ item.companyName }})</div>
          </div>
        </div>

        <h4 class="font-normal">Rola: {{ item.role }}</h4>
      </header>

      <p class="text-sm">
        {{ item.description }}
      </p>

      <div class="text-sm">
        <h4 class="font-normal mb-2">Zakres obowiązków:</h4>

        <ul>
          @for (resposibility of item.responsibilities; track resposibility) {
            <li>{{ resposibility }}</li>
          }
        </ul>
      </div>

      @if (item.usedSkills) {
        <div class="mt-auto">
          <!--          <h4 class="font-normal mb-4">Narzędzia i technologie:</h4>-->

          <app-skills-chips-list
            [data]="item.usedSkills"
            class="[&>ul]:flex-wrap-reverse"
          ></app-skills-chips-list>
        </div>
      }
    </li>
  }
</ul>
