
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between py-10">
    <div class="flex flex-row gap-10">
      <img
        class="w-20 h-20 rounded"
        src="https://agrimachinery.nic.in/Images/User/User.png" alt="{{ profile.firstName }} {{ profile.lastName }}" />

      <div>
        <h1 class="text-3xl font-bold">{{ profile.firstName }} {{ profile.lastName }}</h1>
        <h2 class="text-2xl text-gray-400">
          {{ profile.specialization }}
        </h2>
      </div>

    </div>

    <app-cv-section title="Dane kontaktowe">
      <app-contact-details [data]="profile.contact"></app-contact-details>
    </app-cv-section>
  </div>

  <div class="p-16 bg-gray-100">
    <div class="container mx-auto">
      <app-cv-section title="O mnie">
        <p>{{ profile.about }}</p>
      </app-cv-section>
    </div>
  </div>

  @if (profile.skills) {
    <div class="container mx-auto">
      <app-cv-section title="Umiejętności">
        <app-grouped-skills-list [data]="profile.skills"></app-grouped-skills-list>

        <!--      <app-skills-chips-list [data]="profile.skills"></app-skills-chips-list>-->
      </app-cv-section>
    </div>
  }
