<h1
  class="text-center text-xl text-red-800 dark:text-red-500 font-normal uppercase mb-4"
>
  {{ TITLE_LABEL | translate }}
</h1>

<div class="bg-white shadow-sm p-8 rounded dark:bg-gray-900">
  <p class="text-red-800 dark:text-red-500 text-center mb-8">
    {{ errorMessage() ?? FALLBACK_ERROR_MESSAGE | translate }}
  </p>

  <button
    class="bg-gray-700 hover:bg-gray-600 active:bg-gray-800 active:shadow-sm text-white rounded px-4 py-2 w-full"
    (click)="onGoHome()"
    [disabled]="isNavigationPending()"
  >
    {{ REFRESH_LABEL | translate }}
  </button>
</div>
