@if (cvData(); as cvData) {
  <app-profile-about [profile]="cvData.employee"></app-profile-about>

  <div class="container mx-auto flex flex-row flex-wrap gap-4">
    <app-cv-section title="Edukacja">
      <app-education-experience-list [data]="cvData.education"></app-education-experience-list>
    </app-cv-section>

    <app-cv-section title="Języki">
      <app-languages-experience-list [data]="cvData.languages"></app-languages-experience-list>
    </app-cv-section>

    <app-cv-section title="Zainteresowania">
      <app-hobbies-list [data]="cvData.employee.hobbies"></app-hobbies-list>
    </app-cv-section>
  </div>

  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2">
    <div>
      <app-cv-section title="Doświadczenie">
        <app-job-experience-list [data]="cvData.jobs"></app-job-experience-list>
      </app-cv-section>

      <app-cv-section title="Dodatkowe umiejętności">
        <app-additional-skills-list [data]="cvData.employee.additionalSkills"></app-additional-skills-list>
      </app-cv-section>
    </div>

    <div>
      <app-cv-section title="Najciekawsze projekty">
        <app-projects-experience-list [data]="cvData.projects"></app-projects-experience-list>
      </app-cv-section>
    </div>
  </div>
}
